<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dachan.crm.demo.mybatis.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="com.dachan.crm.demo.mybatis.entity.City" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="province_id" property="provinceId" jdbcType="INTEGER" />
        <result column="city_name" property="cityName" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>
    <select id="findCityById" resultType="com.dachan.crm.demo.mybatis.entity.City">
        SELECT id,province_id,city_name,description from city WHERE id = #{id}
    </select>

    <sql id="Base_Column_List" >
        id,province_id,city_name,description
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from city
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from city
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.dachan.crm.demo.mybatis.entity.City" >
        insert into `city`(`province_id`, `city_name`, `description` )
        values (#{provinceId,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.dachan.crm.demo.mybatis.entity.City" >
        insert into `city`
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                `id`,
            </if>
            <if test="provinceId != null" >
                `province_id`,
            </if>
            <if test="cityName != null" >
                city_name,
            </if>
            <if test="description != null" >
                description
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="provinceId != null" >
                #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityName != null" >
                #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dachan.crm.demo.mybatis.entity.City" >
        update city
        <set >
            <if test="provinceId != null" >
                province_id = #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="cityName != null" >
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dachan.crm.demo.mybatis.entity.City" >
        update city
        set province_id = #{provinceId,jdbcType=INTEGER},
            city_name = #{cityName,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
